<% provide(:title, "Home") %>

<%#= image_tag("bg-1.jpg", class: "splash-image") %>

<div class="ui text container" id="main-intro-container">

	<h2 class="ui header" id="main-attract-text">
		東京の美味しいコーヒを、
		発見しよう。
	</h2>

	<div class="ui buttons">

		<%= link_to area_search_path, class: 'ui basic blue button' do %>
			<i class="marker icon"></i>
			エリア
		<% end %>
		<%= link_to work_search_path, class: 'ui basic grey button' do %>
			<i class="laptop icon"></i>
			作業できる
		<% end %>
		<%= link_to rating_search_path, class: 'ui basic pink button' do %>
			<i class="empty heart icon"></i>
			評価
		<% end %>
	</div>

	<div class="ui four stackable cards" id="recommendations">
		<% @shops.each do |shop| %>
			<div class="card">
				<div class="left aligned small content">
					<p><%= shop.japanese_name %></p>
				</div>
				<a class="image" href="<%= shop_path(shop) %>">
					<% if shop.photos.first %>
						<%= image_tag shop.photos.first.link %>
					<% else %>
						<%= image_tag 'fallback-coffee.png' %>
					<% end %>
				</a>
				<div class="content">
					<div class="left floated">
						<% shop.facilities.each do |f| %>
							<i class="<%= f.icon %>"></i>
						<% end %>
					</div>
					<div class="right floated meta">
						<%= shop.station %> (<%= shop.district.japanese_name unless shop.district.nil? %>)
					</div>
				</div>
			</div>
		<% end %>
	</div>
	<form class="ui form" action="shops/new">
	<button type="submit" class="ui right floated button">
		カフェー新登録
	</button></form>
</div>

<style>
#main-intro-container {
	margin-top: 4em;
}

#main-attract-text {
	background: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 1.6em;
	padding: 5px;
	border-radius: 2px;
}

#recommendations {
	margin-top: 2em;
	margin-bottom: 0.4em;
	font-size: 0.8em;
}
</style>
