<%= form_for(@shop, html: { class: 'ui form' }) do |f| %>
  <%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label :japanese_name, '店名(必須)' %>
		<%= f.text_field :japanese_name %>
	</div>

	<div class="field">
		<%= f.label :station, '最寄り駅' %>
		<%= f.text_field :station %>
	</div>

	<%= f.collection_check_boxes(:facility_ids, Facility.all, :id, :name) %>

	<div class="field">
		<%= f.label :description, '紹介文' %>
		<%= f.text_area :description %>
	</div>

  <%= f.submit yield(:button_text), class: 'ui basic green fluid button' %>

<% end %>

<style>
.ui.form {
	text-align: left;
}
</style>
