<div class="ui stackable grid container" id="shop-index-container">
	<div class="six wide column">

		<h4 class="ui header">
			<%= @shop.japanese_name %>
			<%= @shop.district.japanese_name %>
		</h4>
		<div class="ui fluid image">
			<%= image_tag @shop.photos.first.link %>
		</div>
		<div class="description">
			<%= @shop.description %>
		</div>
		<div class="extra">
			<i class="red warning icon"></i>
			<%= @shop.additional_details %>
		</div>
	</div>

	<div class="ten wide column">
		<div class="row">
			<%= render partial: 'reviews/form', shop: @shop  %>
			Add a review
		</div>
		<div class="ui feed">
			<% @shop.reviews.each do |review| %>
				<div class="event">
					<div class="content">
						<div class="summary">
							<a class="user" href="#">
								<%= review.user.email %>
							</a> レビューを投稿しました。
							<div class="date">
								<%= time_ago_in_words(review.created_at) %> ago.
							</div>
						</div>
						<div class="extra text">
							<%= review.comment %>
						</div>
						<div class="meta">
							<!-- likes or whatever? -->
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>

<style>
.right.extra {
	display: flex !important;
	justify-content: flex-end; 
}

		@media (min-width: 768px) {
			#shop-index-container {
				text-align: left;
			}
		}
</style>
